<div class="CourseCreateMain">
    <div class="Header">New Course</div>
        <form [formGroup]="courseEditCreateForm" (ngSubmit)="Submit()" *ngIf="courseEditCreateForm">
        <div class="TitleWrapper">
            <div class="Label">
                <label for="title">Title:</label>
                <p>*required</p>
            </div>
            <input formControlName="title" placeholder="Text input" required maxlength="50">
            <div *ngIf="getValidator('title').invalid" class="alert alert-danger">
                <div *ngIf="getValidator('title').errors.required">
                  Required field.
                </div>
            </div>
        </div>

        <div class="DescriptionWrapper">
            <div class="Label">
                <label for="description">Description:</label>
                <p>*required</p>
            </div>
            <textarea formControlName="description" placeholder="Add description" required maxlength="500"></textarea>
            <div *ngIf="getValidator('description').invalid" class="alert alert-danger">
                <div *ngIf="getValidator('description').errors.required">
                  Required field.
                </div>
            </div>
        </div>

        <app-date-control formControlName="creationDate"></app-date-control>
        <app-duration-control formControlName="duration"></app-duration-control>
        <!--<app-authors-control formControlName="authors"></app-authors-control>-->

        <div class="ButtonsWrapper">
            <button (click)="Cancel()">Cancel</button>
            <button type="submit" [disabled]="courseEditCreateForm.invalid">Save</button>
        </div>
    </form>
</div>
