<div class="login-layout">
    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">

        <div>
            <label for="login">Login:</label>
            <p>*required</p>
            <input formControlName="login" placeholder="Enter Login" required>
        </div> 

        <div>
            <label for="password">Password:</label>
            <p>*required</p>
            <input formControlName="password" type="password" placeholder="Enter Password" required>
        </div>

        <div>
            <a href="">Forgot Password?</a>
            <button type="submit" [disabled]="loginForm.invalid">LogIn</button>
        </div>

    </form>
</div>
