<div class = 'Header'>
  <app-logo class = 'Logo'></app-logo>
  <ul class="Nav-container">
    <li>
      <div *ngIf="isAuthenticated; else loginButton">
        <p>Hello {{(currentUser$ | async)?.name.first}} {{(currentUser$ | async)?.name.last}}</p>
      </div>
      <ng-template #loginButton>
        <button (click)="Login('/login')">
          <span>Log In</span>
        </button>
      </ng-template>
    </li>
    <li>
      <button (click)="Logout()">
        <span>Log off</span>
      </button>
    </li>
  </ul>
</div>
