.Header {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    background:  #a0aaf5;
  }
  
.Logo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: white;
  position: relative;
  left: 10px;
}

li {
  list-style: none;
  float: left;
  margin: 5px;
}

p{
  margin: 0px;
}
  
